html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  border-radius: 3px;
  background-color: #dcd4cd;
  border: solid;
  border-color: #9a816d;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.link-card:hover {
  color: #512200;
  background-color: #cabdb2;
}

a {
  color: #512200;
}

body {
  color: #512200;
  font-family: Georgia, serif;
  padding: 0;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
}

h2 {
  text-align: left;
  padding-left: 1rem;
  margin-top: .6em;
  margin-bottom: .8em;
}

p {
  padding-left: 1rem;
  text-align: left;
}

dl {
  font-size: .875rem;
  list-style-type: none;
  margin-bottom: 0;
}

dt {
  display: inline-block;
  text-align: left;
  margin-left: .5em;
  width: 40%;
}

dd {
  display: inline-block;
  font-style: italic;
  margin: 0;
  padding-left: 0;
  width: 40%;
}

nav {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.link-card .btn {
  display: inline-block;
  font-family: Dosis, sans-serif;
  color: #fff;
  font-size: 1.125rem;
  background-color: #785439;
  padding: .4em .75em .5em;
  border-radius: 8px;
  border: solid;
  border-color: #785439;
}

.link-card:hover .btn {
  color: #fff;
  background-color: #512200;
  border: solid #512200;
}

.btn {
  text-align: center;
  margin-left: 4.5rem;
  margin-bottom: .5em;
}
