html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.link-card {
  display: inline-block;
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 8px;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none;
}

.link-card h2 {
  font-size: 1.5rem;
  font-family: Dosis, sans-serif;
  color: #512200;
  margin-top: 0;
  padding-top: .25rem;
  padding-left: 1rem;
}

p {
  font-family: Georgia;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #512200;
}

/** LISTS **/

dt {
  list-style-type: none;
  font-family: Georgia;
  font-size: .875rem;
  color: #512200;
  padding-left: 1rem;
  line-height: .2;
}

dd {
  display: inline-block;
  list-style-type: none;
  padding-left: 6rem;
  font-family: Georgia;
  font-style: italic;
  font-size: .875rem;
  color: #512200;
}

/** BUTTON **/

.btn-wrap {
  display: inline-block;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  padding: .4em .75em .5em;
  margin-left: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn {
  font-family: Dosis, sans-serif;
  text-align: center;
}

/** HOVERING STATE **/

.link-card:hover {
  background-color: #cabdb2;
  cursor: pointer;
}

.link-card:hover .btn-wrap {
  background-color: #512200;
  cursor: pointer;
}

/** HORIZONTAL LINE **/

.borderline {
  border-bottom: 1px solid  #9a816d;
  border-top: 1px solid  #9a816d;
  width: 20rem;
  margin-left: 1rem;
}
